* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6.25rem auto;
    grid-template-columns: 13rem 1fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: yellow;

    grid-column-start: 1;
    grid-column-end: 3;
}

aside {
    background-color: aquamarine;
}

main {
    background-color: rgb(242, 242, 242);

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 3rem 2rem;
}

.card {
    /* height: 200px; */
    background-color: orange;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width:35%;
    border:1px solid black;
}
search:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button{
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}
#top{
    background-color: #dacfcf;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#sidebar{
    background-color: #787373;
}
#logo img {
width: 100px; /* Adjust width as needed */
height: auto; /* Maintain aspect ratio */
}
